body{
    background-image: url("https://cdn.wallpapersafari.com/81/79/1cSIlZ.jpg");
}
.topbar {
    background-color: #5c585f;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
}

.menu li a:hover {
    background-color: #fff;
    color: #333;
}
h1{
    color: rgb(255, 255, 255);
    text-align: top right;
    border-color: black;
}
